<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMSqO3_LUd45pdGRzPyyV9cRJN5C4ZL6c</string>
	<key>GCM_SENDER_ID</key>
	<string>366347200362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.menumate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hanseisimplerecipe</string>
	<key>STORAGE_BUCKET</key>
	<string>hanseisimplerecipe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366347200362:ios:8c334cb2e6ede3754d2713</string>
</dict>
</plist>